<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSTeachingTinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B822FF31D0F4DEA00FC8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8230071D0F4DEA00FC8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8230121D0F4DEA00FC8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
